<li class="game-item">
    <% const href = `/game/${game.id}`%>
    <a href=<%=href%>><img  src=<%= game.image_url %> alt="game cover"></a>
    <a href=<%=href%>><span><%= game.title%></span></a>
    <span><%= game.release_year %></span>
    
</li>