<p>Title: <%= game.title %></p>
<p>Release Year: <%= game.release_year %> </p>
<p>Min. Players: <%= game.min_players %></p>
<p>Max. Players: <%= game.max_players %></p>
<a href=<%= `/game/${game.id}/edit` %>>Edit</a>
<a href="/">Go back</a>