<html>

<head>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <!-- < %- include('partials/navbar', {links}) %> -->
  <form method="POST" action=<%=`/game/${game.id}/update` %>>
    <h1>Edit game</h1>
    <input name="title" type="text" placeholder="Title" value="<%= game.title %>">
    <input name="release_year" type="number" placeholder="Release Year" value="<%= game.release_year %>">
    <input name="min_players" type="number" placeholder="Min. Players" value="<%= game.min_players %>">
    <input name="max_players" type="number" placeholder="Max. Players" value="<%= game.max_players %>">
    <input name="image_url" type="text" placeholder="Image URL" value="<%= game.image_url %>">
    


    <fieldset>
      <legend>Platforms:</legend>
      <ul>
        <% platforms.forEach(platform=> {%>
          <li>
            <label for=<%=platform.id %> ><%= platform.name %></label>

            <input 
            type="checkbox" 
            id=<%=platform.id %> 
            name="platforms" 
            value=<%= platform.id %>
            <%= gamePlatforms.some(p=> p.id === platform.id) ?'checked' : '' %> 
            />
          </li>
          <%}); %>
      </ul>
    </fieldset>

    <fieldset>
      <legend>Tags:</legend>
      <ul>
        <% tags.forEach(tag=> {%>
          <li>
            <label for=<%=tag.id %> ><%= tag.name %></label>

            <input 
            type="checkbox" 
            id=<%=tag.id %> 
            name="tags" 
            value=<%= tag.id %>
            <%= gameTags.some(t=> t.id === tag.id) ?'checked' : '' %> 
            />
          </li>
          <%}); %>
      </ul>
    </fieldset>



    <button type="submit">Submit</button>
  </form>
</body>

</html>